{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sub Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Sub Category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="row">
        {% for category in sub %}
        <div class="col-lg-3 col-6 ml-2">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">

                    <h3>{{category.subcat_name}}</h3>

                    <p>{{category.category_name}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<!-- /.content-wrapper -->
{% endblock content %}