{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{object.subcat_name}} Information</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container-fluid -->


        <div class="accordion" id="accordionExample">
            {% for information in subcategory.information_set.all %}
            {% if forloop.counter == 1 %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{information.info_title}}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        {{information.info_list}}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse"
                                data-target="#collapse{{forloop.counter}}" aria-expanded="false"
                                aria-controls="collapse{{forloop.counter}}">
                            {{information.info_title}}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        {{information.info_list}}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}